/*------------------ Animation CSS  -----------------*/
/* @keyframes slideInDown {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0px);
    }
} */