/*----------- Responsive -------------*/
@media only screen and (max-width: 1340px) {
    .line2 {
        top: 105px;
        left: 380px;
    }

    .line4 {
        top: 105px;
        right: 400px;
    }

    form input,  form textarea {
        width: 530px;
    }
}

@media only screen and (max-width: 1095px) {
    .line2 {
        top: 105px;
        left: 315px;
    }

    .line4 {
        top: 105px;
        right: 330px;
    }

    .nav {
        height: 8vh;
    }

    .nav-kanan ul li a {
        font-size: 16px;
    }

    .nav-kiri h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1065px) {
    form input, form textarea {
        width: 490px;
    }
}

@media only screen and (max-width: 1050px) {
    .container {
        width: 50vw;
        height: 100vh;
    }

    .groups h2 {
        font-size: 30px;
        margin-left: 80px;
        margin-right: 80px;
    }

    .container-isi {
        height: 59vh;
    }

    .button-click {
        padding: 87px 66px;
        font-size: 14px;
    }

    .line2 {
        top: 55px;
        left: 370px;
        height: 90%;
    }

    .line4 {
        top: 55px;
        right: 385px;
        height: 90%;
    }
}

@media only screen and (max-width: 984px) {
    .line2 {
        left: 330px;
    }

    .line4 {
        right: 345px;
    }

    .contact-kiri h1 {
        font-size: 3em;
    }

    .contact-kiri h1 span {
        font-size: 15px;
    }

    .contact-kanan h1 {
        font-size: 28px;
    }

    form h4 {
        font-size: 14px;
    }

    form input, form textarea {
        width: 430px;
    }

    form button {
        padding: 18px 25px;
    }

    .box-email {
        padding: 20px 25px;
    }

    .box-email h2 {
        font-size: 12px;
    }

    .box-email i {
        font-size: 29px;
    }

    .social-icons a {
        font-size: 29px;
    }
}

@media only screen and (max-width: 912px) {
    .line2 {
        left: 290px;
    }

    .line4 {
        right: 305px;
    }
}

@media only screen and (max-width: 870px) {
    form input, form textarea {
        width: 415px;
    }
}

@media only screen and (max-width: 830px) {
    .image-home img {
        width: 250px;
    }

    .image-r,
    .image-l {
        height: 340px;
    }

    .image-r {
        left: 190px;
    }

    .image-l {
        right: 190px;
    }

    .container-full h3 {
        font-size: 17px;
    }

    .container-full h1 {
        font-size: 52px;
    }

    .container-full h2 {
        font-size: 21px;
    }

    .responsive-nav {
        display: inline-flex;
        margin-right: 50px;
    }

    .responsive-nav #close-icon {
        display: none;
    }

    #check:checked~.responsive-nav #menu-icon {
        display: none;
    }

    #check:checked~.responsive-nav #close-icon {
        display: block;
    }

    #check:checked~.nav-kanan {
        height: 22rem;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-kiri a h3 {
        margin-left: 50px;
    }

    .nav-kanan {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        background: #000000;
        transition: 0.3s ease-in-out;
    }

    .nav-kanan ul li a {
        font-size: 20px;
        color: #ffffff;
        margin-left: 50px;
        display: inline;
        width: 10px;
        transition: margin-left 0.4s;
    }

    .nav-kanan ul li a:hover {
        color: #ffffff8d;
        margin-left: 60px;
    }

    .nav-kanan ul li {
        display: flex;
        flex-direction: column;
    }

    .nav-kanan ul li a:hover::after {
        width: 0;
    }

    .line2 {
        left: 250px;
    }

    .line4 {
        right: 265px;
    }

    .contact-kiri h1 {
        font-size: 2.6em;
    }

    .contact-kanan h1 {
        font-size: 24px;
    }

    .box-email {
        padding: 20px 20px;
    }

    .box-email h2 {
        font-size: 11px;
    }
    
    .box-email i {
        font-size: 28px;
    }

    .social-icons a {
        font-size: 28px;
    }

    form h4 {
        font-size: 13px;
    }

    form input, form textarea {
        width: 370px;
    }
}

@media only screen and (max-width: 744px) {
    .container-full {
        height: 92vh;
    }

    .container-full img {
        margin-top: 78px;
    }

    .container-isi {
        height: 50vh;
    }

    .container {
        width: 40%;
    }

    .groups h2 {
        margin-left: 50px;
        margin-right: 50px;
    }

    .button-click {
        padding: 60px 40px;
        margin-bottom: 40px;
    }

    .line2 {
        display: none;
    }

    .line4 {
        display: none;
    }

    .container-contact {
        height: 75vh;
        justify-content: center;
        align-items: center;
    }

    form input, form textarea {
        width: 500px;
    }

    form textarea {
        height: 150px;
    }

    .contact-kanan h1 {
        white-space: nowrap;
        font-size: 35px;
        margin-bottom: 5px;
    }

    form h4 {
        font-size: 16px;
    }
    
    .contact-kanan {
        height: 80%;
        align-items: center;
        text-align: left;
        justify-content: center;
    }

    .contact-kiri {
        display: none;
    }

    .box-email {
        display: block;
    }
}

@media only screen and (max-width: 650px) {
    .image-r {
        display: none;
    }

    .image-l {
        display: none;
    }

    .middle-image {
        margin-bottom: 7px;
    }

    .container-full h1 {
        font-size: 39px;
    }

    .container-full h2 {
        font-size: 15px;
    }

    .container-full h3 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .container-full {
        height: 100vh;
    }

    .container-full img {
        margin-top: 20px;
    }

    .container-isi {
        height: 103vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .groups h2 {
        font-size: 37px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    .button-click {
        margin-top: 20px;
        margin-bottom: 80px;
        white-space: nowrap;
    }

    form input, form textarea {
        width: 450px;
    }
}

@media only screen and (max-width: 460px) {
    form input, form textarea {
        width: 380px;
    }
}

@media only screen and (max-width: 400px) {
    .container-full {
        height: 80vh;
    }

    .container-full img {
        margin-top: 120px;
    }

    .container-full h1 {
        font-size: 30px;
    }

    .container-full h2 {
        font-size: 13px;
    }

    .container-full h3 {
        font-size: 13px;
    }

    .container-isi {
        margin-top: 100px;
        margin-bottom: 0;
    }

    .groups h2 {
        font-size: 27px;
    }

    .button-click {
        font-size: 12px;
        padding: 57px 40px;
    }

    form input, form textarea {
        width: 300px;
    }

    .contact-kanan h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 300px) {
    form input, form textarea {
        width: 250px;
    }
}